svg {
  width: 100%;
  height: 100%;
}

.vis-container {
  height: 80vh;
  background-color: #999;
}

.controls {
  height: 20vh;
}

.waveform {
  stroke-width: 3;
  fill: none;
}

.freq-spec {
  stroke-width: 2;
  fill: none;
}

.mic {
  stroke: #000;
}

.osc {
  stroke: #a424f4;
}
