svg {
  width: 100%;
  height: 100%;
}

.vis-container {
  height: 80vh;
  background-color: #999;
}

.waveform {
  stroke-width: 3;
  fill: none;
}

.freq-spec {
  stroke-width: 2;
  fill: none;
}

.mic {
  stroke: #ff0000;
  opacity: 0.5;
}

.osc {
  stroke: #0000ff;
  opacity: 0.5;
}

.controls {
  /*padding-top: 15px;*/
}

.osc-controls {
  height: calc(20vh - 15px);
}

.slider {
  padding-top: 6px;
  padding-bottom: 6px;
}

.mic-controls {
  visibility: hidden;
}

/*.mic-slider p{
  display: inline;
}*/
